/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500|PT+Serif&display=swap');

/* Globals & Mobile */

:root {
  --primary: hsla(49, 100%, 52%, 1);
  --secondary: hsla(208, 90%, 50%, 1);
  --secondary-light: hsla(200, 85%, 80%, 1);
  --tertiary: hsla(5, 67%, 44%, 1);
  --dark-gray-text: hsla(207, 8%, 26%, 1);
  --light-gray: hsla(200, 11%, 90%, 1);
  --white: hsla(0, 0, 100%, 1);
  --font-headings: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-body: 'PT Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-size: 1rem;
  font-family: var(--font-body);
  font-weight: 400;
  background: var(--primary);
  color: var(--dark-gray-text);
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  font-weight: normal;
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  padding: 0 15%;
  margin: 0 auto;
}

.nav {
  background: var(--dark-gray-text);
  color: var(--light-gray);
  box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.2);
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  left: 0;
}

.nav__wrapper {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}

/* Mobile nav stuff */

.nav__titlelink {
  display: none;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: var(--light-gray);
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-family: var(--font-headings);
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  transition: background 0.2s ease, color 0.2s ease;
  position: relative;
  font-size: 70%;
}

.nav__link:hover,
.nav__titlelink:hover {
  background: hsla(207, 8%, 15%, 1);
  color: var(--secondary-light);
}

.nav__link--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--secondary);
}

/* End mobile nav stuff */

.main {
  text-align: center;
}

.main-left__title {
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 1em;
}

.main__image {
  border-radius: 50%;
  width: 500px;
  max-width: 75%;
  border: 1px solid var(--dark-gray-text);
}

.main-right__title {
  display: none;
}

.main-right__text {
  margin: 2em;
}

.button {
  background: transparent;
  text-decoration: none;
  color: var(--dark-gray-text);
  font-family: var(--font-headings);
  text-transform: uppercase;
  border: 1px solid var(--dark-gray-text);
  width: 60%;
  cursor: pointer;
  padding: 1em;
  margin-bottom: 1rem;
  transition: box-shadow 0.1s ease, border 0.1s ease;
  box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.25),
    0px 1px 4px hsla(0, 0%, 0%, 0.25);
  display: inline-block;
}

.button:hover {
  box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.25);
}

.button:active {
  box-shadow: inset 0px 1px 2px hsla(0, 0%, 0%, 0.25);
  border-bottom: 1px solid hsla(207, 8%, 26%, 0.5);
  border-left: 1px solid hsla(207, 8%, 26%, 0.75);
  border-right: 1px solid hsla(207, 8%, 26%, 0.75);
  background: hsla(49, 97%, 51%, 1);
}

.footer {
  background: var(--dark-gray-text);
  margin-top: 5em;
  color: var(--light-gray);
}

.footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--secondary);
}

.sr-only {
  display: none;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-list__item {
  display: inline;
}

.footer-list__link {
  text-decoration: none;
  color: var(--light-gray);
  display: inline-block;
  padding: 1rem;
  transition: background 0.2s ease, color 0.2s ease;
}

.footer-list__link:hover {
  background: hsla(207, 8%, 15%, 1);
  color: var(--secondary-light);
}

@media screen and (min-width: 855px) {
  body {
    font-size: 1.125rem;
  }

  .nav__titlelink {
    display: block;
    color: var(--light-gray);
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    line-height: 1;
    position: relative;
    width: max-content;
  }

  .nav__title h1 {
    margin: 0;
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav__link {
    color: var(--light-gray);
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    font-family: var(--font-headings);
    text-transform: uppercase;
    font-size: 1rem;
    transition: background 0.2s ease, color 0.2s ease;
    position: relative;
  }

  .nav__link:hover,
  .nav__titlelink:hover {
    background: hsla(207, 8%, 15%, 1);
    color: var(--secondary-light);
  }

  .nav__link--active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--secondary);
  }

  .main {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
  }

  .main-left {
    grid-column: 1 / 7;
    grid-row: 2 / 6;
  }

  .main__image {
    border-radius: 50%;
    width: 100%;
    max-width: 375px;
    border: 1px solid var(--dark-gray-text);
  }

  .main-right {
    text-align: center;
    grid-column: 7 / 13;
    grid-row: 2 / 6;
  }

  .main-left__title {
    display: none;
  }

  .main-right__title {
    display: block;
    font-size: 3.5rem;
    line-height: 1;
    margin-top: 0;
  }

  .main-right__text {
    margin: 0;
  }

  .button {
    margin-top: 3rem;
  }
}
